<ion-view view-title="About">
  <ion-content style="margin:10px;">
    <div>
      <p>Our team of experts are highly experienced in emergency response, disaster (water, mold, fire, and smoke) mitigation, asbestos and lead abatement; and we are committed to expediting the process in order to ensure minimal disruption to your home or business when disaster strikes.             Simultaneously, we are focused on coordinating the immediate response measures and taking the necessary steps to prevent secondary damage.</p>
      
      <p>Empire Services has highly qualified technicians and the tools needed to handle all of your restoration needs. As specialized experts, we are capable of making sure that your valuable time is not wasted.</p>
      
      <p>When disaster strikes, Empire Services West customers can be certain that all necessary steps are taken immediately, with no delay.</p>
    </div>
  </ion-content>
</ion-view>
