<ion-view view-title="Contact {{to}}">
  <ion-content style="margin:10px;">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Full Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <textarea placeholder="Message"></textarea>
      </label>
      <a class="button button-block" ng-click="send()">
        SEND
      </a>
    </div>
  </ion-content>
</ion-view>
