<ion-view view-title="Home">
  <ion-content style="margin:10px;">
    <h2>Empire Services West</h2>
    <h4>Residential Restoration</h4>
    <h4>Commercial Restoration</h4>
    <h4>Construction Services</h4>
    
    <a class="button button-block button-assertive icon-left ion-ios7-telephone" ng-href="tel:111-222-3333">
      REPORT AN EMERGENCY
    </a>

    <button class="button button-block" href="#/app/immediate-action">
      TAKE IMEDIATE ACTION
    </button>
    
    <button class="button button-block">
      SEND US A PICTURE
    </button>
  </ion-content>
</ion-view>
