<ion-view view-title="Welcome">
  <ion-content class="home padding">
    <p><img ng-src="img/empire_services_west.png"></p>
    <h3 style="color:black;">Commerical Mitigation Specialist</h3>
    <br>
    <a class="button button-block button-red icon-left ion-help-buoy" ng-href="tel:18446333379" ng-click="initCall('18446333379')">
      REPORT AN EMERGENCY
    </a>

    <a class="button button-block icon-left ion-radio-waves" ui-sref="app.immediate-action">
      TAKE IMMEDIATE ACTION
    </a>

    <button class="button button-block icon-left ion-camera" ui-sref="app.photo">
      SEND US A PICTURE
    </button>
  </ion-content>
</ion-view>
