<ion-view view-title="Take Immediate Action">
  <ion-content class="take-action-wrap">
    <ion-list>
        <ion-item class="item-icon-right fire item-avatar" ng-click="goToState('fire')">
          
          <img src="img/fire-icon.png" class="elementCenterAlign">

          <h2 class="elementCenterAlign">Fire Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>

        </ion-item>
        <ion-item class="item-icon-right water item-avatar" ng-click="goToState('water')">

          <img src="img/water-icon.png" class="elementCenterAlign">
          
          <h2 class="elementCenterAlign">Water Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>

        </ion-item>
        <ion-item class="item-icon-right mold item-avatar" ng-click="goToState('mold')">

          <img src="img/mold-icon.png" class="elementCenterAlign">

          <h2 class="elementCenterAlign">Mold Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>

        </ion-item>
        <ion-item class="item-icon-right sewage item-avatar" ng-click="goToState('sewage')">

          <img src="img/sewage-icon.png" class="elementCenterAlign">

          <h2 class="elementCenterAlign">Sewage Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>

        </ion-item>
    </ion-list>
</ion-view>
