<ion-view view-title="Take Immediate Action">
  <ion-content style="margin:10px;">
    <ion-list>
        <ion-item class="item-icon-right" href="#">
          <h2>Fire Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#">
          <h2>Water Damage</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#">
          <h2>Immediate Action 3</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" href="#">
          <h2>Immediate Action 1</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>
</ion-view>
