<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" >
    <ion-content>
      <ion-list>
        <ion-item>
          <img src="img/empire_services_west.png" class="col"></img>
        </ion-item>
        <ion-item menu-close href="#/app/home" class="item-icon-left">
          <i class="icon ion-home"></i>Home
        </ion-item>
        <ion-item menu-close href="#/app/about" class="item-icon-left">
          <i class="icon ion-information-circled"></i>About Us
        </ion-item>
        <ion-item menu-close href="#/app/specialists" class="item-icon-left">
          <i class="icon ion-ios-people"></i>Specialists
        </ion-item>
        <ion-item menu-close ng-click="openEmail()" class="item-icon-left">
          <i class="icon ion-email"></i>Contact
        </ion-item>
        <ion-item menu-close href="#/app/photo" class="item-icon-left">
          <i class="icon ion-image"></i>Send Photo
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
