<ion-view view-title="Photo">
  <ion-content style="margin:10px;" class="padding">
	  	<p class="text-center" ng-click="selectPhoto()">
			<span class="ion-image send-photo" ng-if="!imageData"></span>
			<img ng-src="{{imageData}}" ng-if="imageData" style="width:100%;height:auto;">
	  	</p>
		<button class="button-red button button-block" ng-click="getPhoto()" side="right">
		   Take Photo
		</button>
		<button class="button-red button button-block" ng-click="selectPhoto()" side="right">
		   Select Photo
		</button>
		<label class="item item-input">
		    <input type="text" placeholder="Comments" ng-model="model.comments">
		  </label>
		<button ng-if="imageURI != undefined" class="button-blue button button-block" ng-click="sendPhoto(imageURI)" side="right">
		   Send Photo
		</button>
  </ion-content>
</ion-view>
