<ion-view view-title="Photo">
  <ion-content style="margin:10px;" class="padding">

		<button class="button-red button button-block" ng-click="getPhoto()" side="right">
		   Take Photo
		</button>
		<button class="button-red button button-block" ng-click="selectPhoto()" side="right">
		   Select Photo
		</button>
		<label class="item item-input">
		    <input type="text" placeholder="Comments" ng-model="model.comments">
		</label>
		<button ng-if="imageData != undefined" class="button-blue button button-block" ng-click="sendPhoto()" side="right">
		   Send Photo
		</button>
		<p class="text-center">
			<span class="ion-image send-photo" ng-if="!imageData"></span>
			<img ng-src="{{imageData}}" ng-if="imageData" style="width:100%;height:auto;">
	  	</p>

  </ion-content>
</ion-view>
